<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}"></td>
            <td th:text="${reservation.reservationName}"></td>
        </tr>
    </table>

    <div th:object="${noel}">
        <p>Id: <span th:text="*{id}"></span></p>
        <p>name: <span th:text="*{reservationName}"></span></p>
    </div>

    <hr />

    <div th:object="${noel}">
        <p th:text="|*{id}: *{reservationName}|"></p>
    </div>

    <hr />

    <div th:object="${noel}">
        <p th:text="*{id} + ':' + *{reservationName}"></p>
    </div>

<p>
    Current time is <span th:text="${serverTime}" />
</p>
</body>
</html>