<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
<h1>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
        </tr>
        <tr th:each="reservation : ${reservations}">
            <td th:text="${reservation.id}">Onions</td>
            <td th:text="${reservation.reservationName}">Onions</td>
        </tr>
    </table>

</h1>
<p>
    Current time is <span th:text="${serverTime}" />
</p>
</body>
</html>